################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/myrepo123/FileContentIndex/ff042971-117f-489c-8bfd-06954658bba4.vsidx
