################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/myrepo123/FileContentIndex/ff042971-117f-489c-8bfd-06954658bba4.vsidx
/.vs/myrepo123/FileContentIndex/b8e7643f-ef4f-4be7-b7d4-62a1a63b895b.vsidx
/.vs/myrepo123/FileContentIndex
/.vs/myrepo123/v17/DocumentLayout.json
